<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="httpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate" autowire="byName">
        <property name="messageConverters">
            <list>
                <ref bean="httpMessageConverter"/>
            </list>
        </property>
    </bean>

    <bean id="restClient" class="org.adani.example.domain.TodoRestClient">
        <constructor-arg index="0" ref="restTemplate"/>
        <constructor-arg index="1" value="http://jsonplaceholder.typicode.com/todos"/>
    </bean>


    <bean id="todoDAO" class="org.adani.example.domain.TodoDAO" autowire="byName"/>
    <bean id="todoCacheManager" class="org.adani.example.domain.TodoCacheManager" autowire="byName"/>

    <bean id="externalFetchTask" class="org.adani.example.domain.TodoMonitorTask" autowire="byName">
        <constructor-arg name="fetchIntervalRate" value="20000"/>
        <constructor-arg name="restClient" ref="restClient"/>
        <constructor-arg name="todoDAO" ref="todoDAO"/>
        <constructor-arg name="todoCacheManager" ref="todoCacheManager"/>
    </bean>

    <bean id="todoTaskManager" class="org.adani.example.domain.TodoTaskManager" depends-on="externalFetchTask"
          init-method="execute">
        <constructor-arg name="task" ref="externalFetchTask"/>
    </bean>

    <bean id="TodoRestEndpoint" class="org.adani.example.domain.TodoRESTEndpoint" autowire="byName"
          depends-on="todoTaskManager"/>


</beans>